@font-face {
    font-family: "HelveticaNeueBold";
    font-size: normal;
    src: local("HelveticaNeueBold"), url('../../../fonts/HelveticaNeueBold.ttf') ;
}

@font-face {
    font-family: "HelveticaNeueMedium";
    font-size: normal;
    src: local("HelveticaNeueMedium"), url('../../../fonts/HelveticaNeueMedium.ttf') format('truetype') ;
}

@media (min-width:540px) {
    .login_card {
        padding: 48px;
    }
}

.login_card {
    background-color: rgba(0,0,0,.75)!important;
}

.logincard_text {
    font-size: 31px;
    font-family: "HelveticaNeueBold";
    letter-spacing: 0.5px;
    margin-bottom: 29px!important;
}

input {
    width: 98%!important;
    height: calc(2.2em + .75rem + 2px)!important;
    border: none!important;
    background: #E8F0FE!important;
}

input[type="text"]:focus, input[type="email"]:focus, input[type="password"]:focus { /* Firefox, Chrome, Opera */ 
    color: rgba(0, 0, 0, 0.815);
    font-family: "HelveticaNeueMedium";
    font-size: 16px;
} 

input[type="text"], input[type="email"], input[type="password"] { /* Firefox, Chrome, Opera */ 
    color: rgba(0, 0, 0, 0.815);
    font-family: "HelveticaNeueMedium";
    font-size: 16px;
} 

input[type="text"]::placeholder, input[type="email"]::placeholder, input[type="password"]::placeholder { /* Firefox, Chrome, Opera */ 
    color: rgba(0, 0, 0, 0.815);
    font-family: "HelveticaNeueMedium";
    font-size: 12px;
} 

input:focus::placeholder {
    color: transparent;
}

.button_login {
    width: 98%!important;
    background: #e50914!important;
    font-family: "HelveticaNeueBold";
    font-size: 16px!important;
    padding: 12px!important;
}

.footer_txt_card {
    font-family: "HelveticaNeueMedium";
    font-size: 15px;
    color: rgb(155, 155, 155);
}

h5 > a {
    color: white;
}

h5 > a:hover {
    color: white
}

.generate_password_txt {
    color: #E87C02;
    font-size: 11px;
    font-family: "HelveticaNeueMedium";
    /* visibility: hidden; */
}

.btn_generate_password {
    background: #E87C02!important;
    font-family: "HelveticaNeueMedium";
    color: black!important;
    font-size: 13px!important;

}

.view_password_icon {
    position: absolute;
    top: 280px;
    right: 90px;
    visibility: hidden;
}

@media (min-width:0px) and (max-width:320px) {
    .view_password_icon {
        position: absolute;
        top: 232px;
        right: 48px;
    }
}

@media (min-width:321px) and (max-width:540px) {
    .view_password_icon {
        position: absolute;
        top: 232px;
        right: 48px;
    }
}

#exampleInputPassword1:valid + .view_password_icon {
    visibility: visible!important;
} 

