@media (max-width:540px) {
    .navbr {
        padding-top: 13px!important;
        padding-left: 10px!important;
    }
}

@media (max-width:540px) {
    .nedflixlogo {
        width: 120px;
    }
}

@media (min-width:541px) {
    .nedflixlogo {
        width: 170px;
    }
}